{% extends 'baseback.html.twig' %}

{% block title %}RendezVous index{% endblock %}

{% block body %}
<br><br><br><br>
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Listes des rendez-vous</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="/back">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Date_heure</th>
                                        <th>Motif</th>
                                        <th>Statut</th>
                                        <th>Mode</th>
                                        <th>Commentaire</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rendez_vou in rendez_vouses %}
                                    <tr>
                                        <td>{{ rendez_vou.id }}</td>
                                        <td>{{ rendez_vou.dateHeure ? rendez_vou.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
                                        <td>{{ rendez_vou.motif ? rendez_vou.motif.label : '' }}</td>
                                        <td>{{ rendez_vou.statut ? rendez_vou.statut.label : '' }}</td>
                                        <td>{{ rendez_vou.mode ? rendez_vou.mode.label : '' }}</td>
                                        <td>{{ rendez_vou.commantaire }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<script>
$(document).ready(function () {
    let table = $('#basic-datatables').DataTable({
        "order": [[0, "asc"]],
        "language": {
            "search": "Rechercher :",
            "lengthMenu": "Afficher _MENU_ entrées",
            "info": "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
            "paginate": {
                "first": "Premier",
                "last": "Dernier",
                "next": "Suivant",
                "previous": "Précédent"
            }
        }
    });

    // Recherche personnalisée
    $('#searchInput').on("keyup", function () {
        table.search(this.value).draw();
    });
});
</script>

{% endblock %}
