{% extends 'baseback.html.twig' %}

{% block body %}
    <br>
        <br>        
            <br>
            <br>
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Listes des Matchings</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="/back">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>CIN</th>
                                        <th>Description</th>
                                        <th>Date</th>
                                        <th>Compétences</th>
                                        <th>CV</th>
                                        <th>Utilisateur</th>
                                        <th>Freelancer</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>CIN</th>
                                        <th>Description</th>
                                        <th>Date</th>
                                        <th>Compétences</th>
                                        <th>CV</th>
                                        <th>Utilisateur</th>
                                        <th>Freelancer</th>
                                      
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for matching in matchings %}
                                        <tr>
                                            <td>{{ matching.id }}</td>
                                            <td>{{ matching.cin }}</td>
                                            <td>{{ matching.description }}</td>
                                            <td>{{ matching.date|date('d/m/Y') }}</td>
                                            <td>{{ matching.competences }}</td>
                                            <td>{{ matching.cv }}</td>
                                            <td>{{ matching.utilisateur.nom}}</td>
                                            <td>{{ matching.getIdFreelancer().nom}}</td>
    
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}