{% extends 'baseback.html.twig' %}

{% block body %}
    <br>
        <br>        
            <br>
            <br>
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Listes des Planifications</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="/back">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Statut</th>
                                        <th>Date</th>
                                        <th>Adresse</th>
                                        <th>Réponse</th>
                                        <th>Mode</th>
                                        <th>Freelancer</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Statut</th>
                                        <th>Date</th>
                                        <th>Adresse</th>
                                        <th>Réponse</th>
                                        <th>Mode</th>
                                        <th>Freelancer</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for planification in planifications %}
                                        <tr>
                                            <td>{{ planification.id }}</td>
                                            <td>{{ planification.statut }}</td>
                                            <td>{{ planification.date|date('d/m/Y') }}</td>
                                            <td>{{ planification.adresse }}</td>
                                            <td>{{ planification.reponse }}</td>
                                            <td>{{ planification.mode }}</td>
                                            <td>{{ planification.freelancer.nom }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}