{% extends 'baseback.html.twig' %}

{% block body %}
    <br>
        <br>        
            <br>
            <br>
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Listes des Planifications</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="/back">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li>
                </li>
                <li class="nav-item">
                        
                    <a href="{{ path('app_planification_new') }}" class="text-success">
                        <i class="fas fa-plus-circle fa-2x"></i>
                    </a>
                    </li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li>
                <li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li><li></li>
                <li>
                </li>
            </ul>
            <div class="input-group mb-3" style="max-width: 300px;">
    <input type="text" class="form-control" id="searchInput" placeholder="Rechercher..." aria-label="Search">
    <div class="input-group-append">
        
    </div>
</div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>ID <span class="sort-icon">🔼🔽</span></th>
                                        <th>Statut <span class="sort-icon">🔼🔽</span></th>
                                        <th>Date <span class="sort-icon">🔼🔽</span></th>
                                        <th>Adresse <span class="sort-icon">🔼🔽</span></th>
                                        <th>Réponse <span class="sort-icon">🔼🔽</span></th>
                                        <th>Mode <span class="sort-icon">🔼🔽</span></th>
                                        <th>Freelancer <span class="sort-icon">🔼🔽</span></th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for planification in planifications %}
                                        <tr>
                                            <td>{{ planification.id }}</td>
                                            <td>{{ planification.statut }}</td>
                                            <td>{{ planification.date|date('d/m/Y') }}</td>
                                            <td>{{ planification.adresse }}</td>
                                            <td>{{ planification.reponse }}</td>
                                            <td>{{ planification.mode }}</td>
                                            <td>{{ planification.freelancer.nom }}</td>
                                            <td>
                                                <a href="{{ path('app_planification_edit', {'id': planification.id}) }}" class="text-primary">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <form method="post" action="{{ path('app_planification_delete', {'id': planification.id}) }}" 
                                                      onsubmit="return confirm('Are you sure you want to delete this item?');" 
                                                      style="display:inline;">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planification.id) }}">
                                                    <button type="submit" class="border-0 bg-transparent text-danger">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Include DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        let table = $('#basic-datatables').DataTable({
            "order": [[0, "asc"]], // Default sorting by ID in ascending order
            "columnDefs": [
                { "orderable": false, "targets": 7 } // Disable sorting on 'Actions' column
            ]
        });

        // Update sorting icons dynamically
        $('#basic-datatables thead th').click(function () {
            $('#basic-datatables thead th .sort-icon').text('🔼🔽'); // Reset all
            let columnIdx = $(this).index();
            let order = table.order();
            if (order[0][0] === columnIdx) {
                $(this).find('.sort-icon').text(order[0][1] === 'asc' ? '🔼' : '🔽');
            }
        });
    });
</script>
<script>
    document.getElementById("searchInput").addEventListener("keyup", function () {
        let filter = this.value.toLowerCase();
        let rows = document.querySelectorAll("tbody tr");
        rows.forEach(row => {
            row.style.display = row.innerText.toLowerCase().includes(filter) ? "" : "none";
        });
    });
</script>

{% endblock %}