{% extends 'base.html.twig' %}

{% block title %}Planification index{% endblock %}

{% block body %}
    <h1>Planification index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>Date</th>
                <th>Adresse</th>
                <th>Reponse</th>
                <th>Mode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planification in planifications %}
            <tr>
                <td>{{ planification.id }}</td>
                <td>{{ planification.statut }}</td>
                <td>{{ planification.date ? planification.date|date('Y-m-d') : '' }}</td>
                <td>{{ planification.adresse }}</td>
                <td>{{ planification.reponse }}</td>
                <td>{{ planification.mode }}</td>
                <td>
                    <a href="{{ path('app_planification_show', {'id': planification.id}) }}">show</a>
                    <a href="{{ path('app_planification_edit', {'id': planification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_planification_new') }}">Create new</a>

    
{% endblock %}
