{% extends 'base.html.twig' %}

{% block title %}Planification{% endblock %}

{% block body %}
    <h1>Planification</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planification.id }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ planification.statut }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ planification.date ? planification.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ planification.adresse }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ planification.reponse }}</td>
            </tr>
            <tr>
                <th>Mode</th>
                <td>{{ planification.mode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_planification_index') }}">back to list</a>

    <a href="{{ path('app_planification_edit', {'id': planification.id}) }}">edit</a>

    {{ include('planification/_delete_form.html.twig') }}
{% endblock %}
