{% extends 'baseback.html.twig' %}

{% block body %}
    <br>
    <br>        
    <br>
    <br>
    <div class="container">
        <div class="page-inner">
            <div class="page-header">
                <h3 class="fw-bold mb-3">Listes des Matchings</h3>
                <ul class="breadcrumbs mb-3">
                    <li class="nav-home">
                        <a href="/back">
                            <i class="icon-home"></i>
                        </a>
                    </li>
                    <li></li>
                    <li class="nav-item">
                        
                    <a href="{{ path('app_matching_new') }}" class="text-success">
                        <i class="fas fa-plus-circle fa-2x"></i>
                    </a>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li>
                    <li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li><li></li>
                    <li>
                    </li>
                </ul>

                <div class="input-group mb-3 float-end" style="max-width: 300px;">
                    <input type="text" class="form-control" id="searchInput" placeholder="Rechercher..." aria-label="Search">
                    <div class="input-group-append">
                        
                    </div>
                </div>
                
                
                
                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="basic-datatables" class="display table table-striped table-hover">
                                    
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>CIN</th>
                                            <th>Description</th>
                                            <th>Date</th>
                                            <th>Compétences</th>
                                            <th>CV</th>
                                            <th>Utilisateur</th>
                                            <th>Freelancer</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for matching in matchings %}
                                            <tr>
                                                <td>{{ matching.id }}</td>
                                                <td>{{ matching.cin }}</td>
                                                <td>{{ matching.description }}</td>
                                                <td>{{ matching.date|date('d/m/Y') }}</td>
                                                <td>{{ matching.competences }}</td>
                                                <td>{{ matching.cv }}</td>
                                                <td>{{ matching.utilisateur.nom}}</td>
                                                <td>{{ matching.getIdFreelancer().nom}}</td>
                                                <td>
                                                    <a href="{{ path('app_matching_edit', {'id': matching.id}) }}" class="text-primary">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <form method="post" action="{{ path('app_matching_delete', {'id': matching.id}) }}" 
                                                          onsubmit="return confirm('Are you sure you want to delete this item?');" 
                                                          style="display:inline;">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ matching.id) }}">
                                                        <button type="submit" class="border-0 bg-transparent text-danger">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                    </form>
                                                </td>
                                                
                                                
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("searchInput").addEventListener("keyup", function () {
            let filter = this.value.toLowerCase();
            let rows = document.querySelectorAll("tbody tr");
            rows.forEach(row => {
                row.style.display = row.innerText.toLowerCase().includes(filter) ? "" : "none";
            });
        });
    </script>
    
    
{% endblock %}
