{% extends 'baseback.html.twig' %}

{% block title %}RendezVous index{% endblock %}

{% block body %}
<br><br><br><br>
<div class="container">
          <div class="page-inner">
            <div class="page-header">
              <h3 class="fw-bold mb-3">Listes des rendez vous</h3>
              <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                  <a href="/back">
                    <i class="icon-home"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        id="basic-datatables"
                        class="display table table-striped table-hover"
                      >
                        <thead>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_heure</th>
                <th>Motif</th>
                <th>Statut</th>
                <th>Mode</th>
                <th>Commantaire</th>
            </tr>
        </thead>
        <tbody>
        {% for rendez_vou in rendez_vouses %}
            <tr>
                <td>{{ rendez_vou.id }}</td>
                <td>{{ rendez_vou.dateHeure ? rendez_vou.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rendez_vou.motif ? rendez_vou.motif.label : '' }}</td>
                <td>{{ rendez_vou.statut ? rendez_vou.statut.label : '' }}</td>
                <td>{{ rendez_vou.mode ? rendez_vou.mode.label : '' }}</td>
                <td>{{ rendez_vou.commantaire }}</td>
             
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
         </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

</div>
{% endblock %}
