{% extends 'base.html.twig' %}

{% block title %}RendezVous{% endblock %}

{% block body %}
    <h1>RendezVous</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rendez_vou.id }}</td>
            </tr>
            <tr>
                <th>Date_heure</th>
                <td>{{ rendez_vou.dateHeure ? rendez_vou.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ rendez_vou.motif ? rendez_vou.motif.label : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ rendez_vou.statut ? rendez_vou.statut.label : '' }}</td>
            </tr>
            <tr>
                <th>Mode</th>
                <td>{{ rendez_vou.mode ? rendez_vou.mode.label : '' }}</td>
            </tr>
            <tr>
                <th>Commantaire</th>
                <td>{{ rendez_vou.commantaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rendez_vous_index') }}">back to list</a>

    <a href="{{ path('app_rendez_vous_edit', {'id': rendez_vou.id}) }}">edit</a>

    {{ include('rendez_vous/_delete_form.html.twig') }}
{% endblock %}
