{% extends 'baseDoctor.html.twig' %}
{% block title %}Doctor{% endblock %}
{% block body %}

<main class="content p-3 flex-grow-1">
        {{ form_start(form2, {'attr': {'enctype': 'multipart/form-data', 'novalidate': 'novalidate'}}) }}
           <div class="mb-3">
                {{ form_label(form2.titre, 'Titre de l\'article', {'label_attr': {'class': 'form-label fw-bold'}}) }}
                {{ form_widget(form2.titre, {'attr': {'class': 'form-control w-100','rows':'6'}}) }}
                 {% if form2.titre.vars.errors is not empty %}
        <div class="text-danger mt-1"> {{ form_errors(form2.titre) }} </div>
        {% endif %}
            </div>

        <div class="mb-3">
                {{ form_label(form2.contenue, 'Contenue de l\'article', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form2.contenue, {'attr': {'class': 'form-control', 'rows': '4'}}) }}

                {% if form2.contenue.vars.errors is not empty %}
                        <div class="text-danger">{{ form_errors(form2.contenue) }}</div>
                    {% endif %}
            </div>
            <div class="mb-3">
                {{ form_label(form2.urlimagearticle, 'URL de l\'image de l\'article', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form2.urlimagearticle, {'attr': {'class': 'form-control'}}) }}
               
        <div class="text-danger mt-1">
            {{ form_errors(form2.urlimagearticle) }}
        </div>
            </div>
            <div class="mb-3">
                 <label>Utilisateur</label>
                {{ form_widget(form2.utilisateur) }}
            </div>
            <div class="text-center">
            <button type="submit" class="btn w-100" style="background-color: #66C0C6; border-color: #66C0C6; color: white; font-weight: bold; padding: 10px 20px; border-radius: 5px;">
                Enregistrer
            </button>
            </div>
            {{ form_end(form2) }}
        </div>
        </div>
   

</main>



{% endblock %}
