{# templates/rendez_vous/patient.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Rendez-vous du patient{% endblock %}

{% block body %}
    <h1>Rendez-vous du patient</h1>

    {% if rendez_vouses is empty %}
        <p>Aucun rendez-vous trouvé pour ce patient.</p>
    {% else %}
        <ul>
            {% for rendezVous in rendez_vouses %}
                <li>
                    <strong>Date : </strong>{{ rendezVous.dateHeure|date('d-m-Y H:i') }}<br>
                    <strong>Motif : </strong>{{ rendezVous.motif }}<br>
                    <strong>Statut : </strong>{{ rendezVous.statut }}<br>
                    <strong>Mode : </strong>{{ rendezVous.mode }}<br>
                    <strong>Commentaire : </strong>{{ rendezVous.commantaire }}<br>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}