{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creer un compte</title>
</head>
<body>
    <div class="form-container">
        <h2>Creer un compte</h2>
        
{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
<table>
<tr>
<td>{{ form_widget(form.nom, {'attr': {'class': 'form-input'}}) }}</td>
<td>{{ form_errors(form.nom)}}</td>
</tr>
<tr>
<td>{{ form_widget(form.prenom, {'attr': {'class': 'form-input'}}) }}</td>
<td>{{ form_errors(form.prenom)}}</td>
</tr>
<tr>
<td>{{ form_widget(form.email, {'attr': {'class': 'form-input'}}) }}</td>
<td>{{ form_errors(form.email) }}</td>
</tr>
<tr>
<td>{{ form_widget(form.adresse, {'attr': {'class': 'form-input'}}) }}</td>
<td>{{ form_errors(form.adresse) }}</td>
</tr>
<tr>
<td>{{ form_widget(form.mot_de_passe, {'attr': {'class': 'form-input'}}) }}</td>
<td>{{ form_errors(form.mot_de_passe) }}</td>
</tr>
<tr>
<td>{{ form_widget(form.date_naissance, {'attr': {'class': 'form-input'}}) }}</td>
<td>{{ form_errors(form.date_naissance) }}</td>
</tr>
<tr>
<td>{{ form_widget(form.role, {'attr': {'class': 'form-input'}}) }}</td>

</tr>
<tr>
<td>{{ form_widget(form.genre, {'attr': {'class': 'form-input'}}) }}</td>
</tr>
</table>

       {{ form_widget(form.save) }}
 {{ form_end(form) }}

    </div>
    </div>
</body>
</html>
{% endblock %}