{% extends 'baseback.html.twig' %}

{% block title %}Ordonnance index{% endblock %}

{% block body %}
     <br>
        <br>        
            <br>
            <br>
<div class="container">
          <div class="page-inner">
            <div class="page-header">
              <h3 class="fw-bold mb-3">Listes des Ordonnances 📑</h3>
              <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                  <a href="/back">
                    <i class="icon-home"></i>
                  </a>
                </li>
                <li class="separator">
                  <i class="icon-arrow-right"></i>
                </li>
              </ul>
              <div class="input-group mb-3 float-end" style="max-width: 300px;">
                <div class="input-group-append">
                    
                </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        id="basic-datatables"
                        class="display table table-striped table-hover"
                      >
                        <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Médicaments</th>
                        <th>Commentaire</th>
                        <th>Durée d'utilisation</th>
                        <th>Quantité d'utilisation</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Médicaments</th>
                        <th>Commentaire</th>
                        <th>Durée d'utilisation</th>
                        <th>Quantité d'utilisation</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for ordonnance in ordonnances %}
                        <tr class="align-middle">
                            <td><strong>{{ ordonnance.id }}</strong></td>
                            <td>{{ ordonnance.date ? ordonnance.date|date('Y-m-d') : 'N/A' }}</td>
                            <td>{{ ordonnance.medicaments }}</td>
                            <td>{{ ordonnance.commantaire }}</td>
                            <td>{{ ordonnance.dureeUtilisation }}</td>
                            <td>{{ ordonnance.quantiteUtilisation }}</td>
                            
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center text-dark fw-bold">Aucune ordonnance disponible</td>
                        </tr>
                    {% endfor %}
                </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>


      
    </div>
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<script>
$(document).ready(function () {
    let table = $('#basic-datatables').DataTable({
        "order": [[0, "asc"]],
        "language": {
            "search": "Rechercher :",
            "lengthMenu": "Afficher _MENU_ entrées",
            "info": "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
            "paginate": {
                "first": "Premier",
                "last": "Dernier",
                "next": "Suivant",
                "previous": "Précédent"
            }
        }
    });

    // Recherche personnalisée
    $('#searchInput').on("keyup", function () {
        table.search(this.value).draw();
    });
});
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        function checkExpiredOrdonnances() {
            let now = new Date();
            document.querySelectorAll("tr[data-date]").forEach(row => {
                let dateStr = row.getAttribute("data-date");
                if (dateStr) {
                    let ordonnanceDate = new Date(dateStr); // 'ordonnanceDate' pour plus de clarté
                    if (ordonnanceDate < now) {
                        row.style.display = "none"; // Cache la ligne expirée
                    }
                }
            });
        }

        checkExpiredOrdonnances();
        setInterval(checkExpiredOrdonnances, 60000); // Vérification toutes les minutes
    });
</script>

{% endblock %}
