{% extends 'baseback.html.twig' %}

{% block body %}
    <br>
        <br>        
            <br>
            <br>
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Listes des articles</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="/back">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="basic-datatables" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Contenu</th>
                                        <th>Auteur</th>
                                        <th>Date de publication</th>
                                        <th>Image</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Contenu</th>
                                        <th>Auteur</th>
                                        <th>Date de publication</th>
                                        <th>Image</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for article in articles %}
                                        <tr>
                                            <td>{{ article.titre }}</td>
                                            <td>{{ article.contenue }}</td>
                                            <td>{{ article.utilisateur.nom }}</td>
                                            <td>{{ article.datearticle|date('d/m/Y') }}</td>
                                            <td><img src="{{ asset(article.urlimagearticle) }}" alt="Article Image" width="100" height="100"></td>
                                            
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

        <script>
            $(document).ready(function () {
                let table = $('#basic-datatables').DataTable({
                    "order": [[0, "asc"]],
                    "language": {
                        "search": "Rechercher :",
                        "lengthMenu": "Afficher _MENU_ entrées",
                        "info": "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
                        "paginate": {
                            "first": "Premier",
                            "last": "Dernier",
                            "next": "Suivant",
                            "previous": "Précédent"
                        }
                    }
                });

                // Recherche personnalisée
                $('#searchInput').on("keyup", function () {
                    table.search(this.value).draw();
                });
            });
        </script>
{% endblock %}